
body {
    background-image: url(imgs/congruent_pentagon.png);
}

.header {
    padding: 60px;
}

.middle {
    background-image: url(imgs/halftone-yellow.png);
    height: 500px;
}




#totally {
padding: 20px
}

button {
    width: 150px;
    padding: 10px 0px;
    background: lightseagreen;
    color: white;
    font-size: 28px;
}

#head {
    text-align: center;
}

#start {
    margin: 120px;
}

#timer {
    text-align: center;
}

#question {
    text-align: center;
}

#display {
    text-align: center;
}

.option {
    text-align: center;
    margin: 10px;
}

.big {
    width: 250px;
}

.gardens {
    width: 600px;
}

.adventurer {
    width: 350px;
}

